@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --fontFamily: "Poppins", sans-serif;
  --whiteClr: rgba(255, 255, 255, 0.87);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: var(--fontFamily);
  font-size: 16px;
  overflow-y: hidden;
}
